* {
    box-sizing: border-box;
}

button:focus {
    outline: 0 none;
}

.cont-img {
    /* background-color: aqua; */
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.header-image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cont-app-chat {
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #818a99;
    height: 100%;
}

.cont-groups {
    height: 100%;
    position: relative;
    width: 550px;
    transition: all 600ms ease-out;
    transition-delay: 200ms;
}

.cont-titulo {
    background-color: rgb(255, 255, 255);
    z-index: 1;
    height: 10%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgba(90, 90, 90, .5);
}

.cont-groups .cont-titulo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 15px 0 15px;
}

.cont-groups .cont-log {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0;
}

.cont-groups .cont-titulo .cont-log .cont-img {
    width: 40px;
    height: 40px;
}

.cont-groups .cont-titulo .cont-log span {
    width: 17px;
    height: 17px;
    position: absolute;
    bottom: -3px;
    right: -4px;
    border-radius: 100%;
    border: 3.5px solid #fff;
}


.cont-groups .cont-titulo .btn {
    border-radius: 100%;
    width: fit-content;
    height: fit-content;
}

#btn-right{
    display: none;
}


.cont-titulo p {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 150%;
    margin: auto;
}

.subtitulo {
    color: var(--color-text-opaco);
    font-size: small;
}

.groups {
    height: 90%;
    // background-color: var(--color-gris-oscuro);
    background-color: #efefef;
    // overflow-y: auto;
    overflow-y: overlay;
    padding: 10px 10px 10px 1px;
    
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li {
    width: 96%;
    list-style: none;
    border-radius: 5px;
    overflow: hidden;
    margin: 2px;
    // border: .5px solid #453ac4;

}

a {
    display: flex;
    padding: 15px 25px 15px 18px;
    align-items: center;
    text-decoration: none;
    user-select: none;
    background-color: #ffff;
    color: #661eed;
    font-weight: 700;
    font-size: 120%;

}


li span {
    margin-left: 15px;
}

.util {
    display: flex;
    flex-direction: column;
}

/*****************************************/
/* clases para el contenido de los chats */
/*****************************************/
.cont-chat {
    width: 100%;
    height: 100%;
    position: relative;
    border-left: 1px solid #661eed;
}

.cont-chat .cont-titulo {
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: flex-start;
}
.cont-chat .cont-titulo .btn{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-right: 5px;
    display: none;
}

.cont-chat .cont-titulo .titulo {
    margin: 0 0 0 15px
}

.cont-chat .groups {
    color: #ffffff;
    height: 80%;
}

.cont-chat .groups ul {
    display: flex;
    flex-direction: column;
    border: 0px solid;
    width: 100%;
    /* background-color: red; */
}

.cont-chat .groups ul li {
    position: relative;
    border-radius: 0px;
    border: 0px;
    box-shadow: 0px 0px 0px 0px transparent;;
    width: 100%;
    margin: 5px 0px;
    padding-left: 10px;
}

.cont-chat .groups ul li div {
    position: relative;
    width: 85%;
    /* background-color: rebeccapurple; */

}

.cont-chat .groups ul li div div {
    display: inline-block;
    background-color: #fff;
    color: #000;
    border-radius: 0px 20px 20px 20px;
    width: fit-content;
    padding-right: 10px;
}

.cont-chat .groups ul li div div p {
    margin: 5px 0px 5px 15px;
    font-weight: bold;
}

.cont-chat .groups ul li div div div {

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px solid;
}

.cont-chat .groups ul li div div div span {
    text-align: justify;
}

.cont-chat .groups ul li div div div p:last-child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: rgb(51, 153, 65); */
    color: var(--color-text-opaco);
    font-weight: 500;
    user-select: none;
}

/*******************************/
/*diseño de tus mismos mensajes*/
/*******************************/

.cont-chat .groups ul .tu_li {
    display: flex;
    justify-content: flex-end;
    position: relative;
    border-radius: 0px;
    border: 0px;
    width: 100%;
}

.cont-chat .groups ul .tu_li div {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 85%;
    /* background-color: rebeccapurple; */

}

.cont-chat .groups ul .tu_li div div {
    display: inline-block;
    color: #fff;
    // background-color: rgb(51, 0, 255);
    background-color: #661eed;
    border-radius: 20px 0 20px 20px;
    width: fit-content;
    padding-right: 10px;
    padding-top: 5px;
}

.cont-chat .groups ul .tu_li div div p {
    margin: 5px 0px 5px 15px;
    font-weight: bold;
    display: none;
}

.cont-chat .groups ul .tu_li div div div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-items: center;
    border: 0px solid;
}

.cont-chat .groups ul .tu_li div div div span {
    text-align: justify;
}

.cont-chat .groups ul .tu_li div div div p:last-child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -5px;
    /* background-color: rgb(51, 153, 65); */
    color: var(--color-text-opaco);
    font-weight: 500;
    user-select: none;
}

/***********************************/
/*END-diseño de tus mismos mensajes*/
/***********************************/

.acctions {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 10%;
    max-height: 400px;
}

.cont-input-esp {
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.cont-input {
    width: 80%;
    height: 40%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    overflow: hidden;
    background-color: #661eed;
    user-select: none;

}

.form-field {
    border: none;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid var(--color-mor-az-f0);
    ;
}

.form-field textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    outline: 0 none;
}

/* .form-field textarea:focus{
    border: none;
} */
/* .form-field mat-label {
    padding: 0 5px 0 5px;
    color: rgb(15, 11, 11);
} */

.cont-btn {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: bisque; */
}

/* diseño de scrooll */


.groups::-webkit-scrollbar-track {
    // background-color: var(--color-gris-oscuro);
    background-color: transparent;
    /*color de la barra de fondo*/
}

.groups::-webkit-scrollbar {
    /*fondo*/
    width: 15px;
    opacity: 0;
}

.groups::-webkit-scrollbar-thumb {
    /*barra*/
    // background-color: rgb(255, 255, 255);
    background-color:   #661eed;

    border: solid transparent;
    border-width: 5px;
    background-clip: padding-box;
    border-radius: 1.5rem;
}


.btn {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 15px;
    border: 0px solid rgba(0, 0, 0, 0.368);
    color: var(--color-mor-az-f0);
    ;
    font-size: large;
}


.btn-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.btn-menu span {
    margin: 0 7px 0 7px;

}

.btn-menu span:nth-child(2) {
    color: var(--color-mor-az-f0);
}

/*********************************/
/*********RESPONSIVE*************/
/*********************************/
.cont-groups-ts{
    position: absolute;
    left:0 !important;
}


@media screen and (max-width:700px){
    .cont-groups{
        position: absolute;
        z-index: 100;
        left: -100%;
        width: 100%;
        transition: all .5s ease-in-out;
    }
    .cont-chat .cont-titulo .btn{
        display:flex;
        align-items: center;
        justify-content: center;
    }

    #btn-right{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cont-chat {
        border-left: none
    }
}

/* --tw-scale-x: -1 !important;
transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))!important;
 */
