<div class="body">

    <div class="container">
        <title>Login</title>

        <div class="info">

            <h2>Bienvenido</h2>
            <hr>

        </div>

        <div class="form">

            <h2>Login</h2>

            <p>
                Inicia sesión para compartir ideas interesantes y productivas con tus amigos.
            </p>

            <div [formGroup] = "formUser" class="inputs">

                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <a>Olvidaste tu contraseña?</a>

                <button mat-raised-button color="primary">Loguearse</button>
            </div>

        </div>
    </div>
</div>