<div class="cont-ads">

    <div class="container">
        <div class="info">
        </div>
        <div class="form" >

            <h2>Login</h2>
            <p>
                Inicia sesión para compartir ideas interesantes y productivas con tus amigos.
            </p>

            
            <form [formGroup]="formUser" (ngSubmit)="login()" class="inputs" #fr = "ngForm">

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput [formControl]="email">
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <a>Olvidaste tu contraseña?</a>

                <button mat-raised-button class="submit" type="submit" color="primary">Loguearse</button>
            </form>

            <!-- <div class="inputs">

                <input type="email" class="box" placeholder="Ingresa tu correo" [(ngModel)]="emailInput">
                <input type="password" class="box" placeholder="Ingresa tu contraseña" [(ngModel)]="passInput">

                <a href="·">Olvidaste tu contraseña?</a>


            </div>
            <input type="submit" value="Login" class="submit">
            <button type="button" (click)="login()" class="submit">LOGIN</button> -->
        </div>
    </div>
</div>