

.body{
    background-color: #E5ECF9;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    height: 90vh;
    width: 70%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    
}

.info {
    background-image: url(../../../assets/imgs/auth/chatLogin.svg);
    background-position: center 160px;
    background-repeat: no-repeat;
    background-size: 90%;
    text-align: center;
    padding: 50px 50px;
    width: 45%;
    
}

.info h2 {
    color: #4F83AB;
    text-transform: uppercase;
    font-size: 3em;
     
}

.info hr {
    width: 90%;
    border: 3px solid #17202A;
    margin: auto;
    margin-bottom: 25px;
}

.txt-2 {
    color:#c993ce;
    font-size: 18px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 45%;
    background-color: #fff;

}

.form h2 {
    color: #4F83AB ;
    font-size: 30px;
    margin-bottom: 25px;
}

.form p {
    width: 70%;
    font-size: 16px;
    color: #3b3a3a;
    margin-bottom: 25px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.box {
    outline: none;
    border-color: #4F83AB ;
    border-width: 0px 0px 0px 5px;
    border-style: solid;
    padding: 15px 35px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.inputs a {

    color: #4F83AB ;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 35px;
}

.submit {

    background-color: #4F83AB ;
    padding: 15px;
    bottom: 0;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 25px;
}

::-ms-reveal {
    display: none;
}

@media(max-width: 966px) {
    .info{
        width: 35%;
    }

    .container{
        width: 85%;
    }

    .info{
        background-position: center center;
    }

    .info h2{
        margin-top: 5vh;
    }

    .form{
        width: 55%;
    }

    .form h2{
        margin-bottom: 60px;
        font-size: 3em;
    }

    .form p{
        margin-bottom: 60px;
    }
}

@media(max-width: 720px) {

    .container{
        width: 80%;
    }

    .info {
        display: none;
    }

    .form{
        width: 100%;
    }

    .form p{
        margin-bottom: 25px;
    }
}