<div class="cont-ads">

    <div class="container">
        <div class="info">
            <p class="txt-1"> Gracias por visitarnos</p>
            <h2>Bienvenido de nuevo</h2>
            <hr>
            <p class="txt-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum molestias exercitationem ipsum vel
                suscipit reprehenderit omnis officia deleniti expedita! Cum ab beatae libero dolorum facilis vel cumque
                natus temporibus autem?
            </p>
        </div>
    <form class="form"> 
        <h2>Login</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis corrupti sed sapiente libero molestiae
            accusantium assumenda repellendus sint minima nemo voluptatibus, dolore adipisci nobis architecto
            blanditiis! Quo quisquam ducimus temporibus?
        </p>
        <div class="inputs">

            <input type="email" class="box" placeholder="Ingresa tu correo">
            <input type="password" class="box" placeholder="Ingresa tu contraseña">
        
            <a href="·">Olvidaste tu contraseña?</a>

            <input type="submit"value="Login" class="submit">
        </div>
    </form>
    </div>
</div>
daniel y daniela