<mat-toolbar color="primary" class="tool">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
    matRipple
      [matRippleAnimation]="RippleAnimationConfing"
      [matRippleCentered]="false"
      [matRippleDisabled]="false"
      [matRippleUnbounded]="false"
      [matRippleColor]="'rgba(68, 0, 255,.5)'" (click)="toogle()">
      <mat-icon *ngIf="estadoSide" data-aos="zoom-out" data-aos-duration="1000">close</mat-icon>
      <mat-icon *ngIf="estadoSide==false" data-aos="zoom-in" data-aos-duration="1000">menu</mat-icon>
    </button>
    <span data-aos="fade-right" >My App {{estadoSide}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
