<div class="cont-app-dialog-chat">

    <mat-tab-group mat-align-tabs="center" class="cont-tab-group">
        <!-- primero: para buscar amigos y agregar a grupo, mas no personal -->
        <mat-tab id="firstTab" [disabled]="disabledFirstTab" [label]="data.titulo">
            <div class="cont-max">
                <div class="cont-form" *ngIf="data.idTipoChat===3">
                    <form [formGroup]="form">
                        <div class="cont-field">
                            <mat-form-field appearance="legacy">
                                <mat-label>Ingrese el DNI, EMAIL o USERNAME del usuario</mat-label>
                                <input matInput placeholder="" type="text" class="example-right-align" formControlName="valor">
                                <button *ngIf="this.form.value.valor" matSuffix mat-icon-button aria-label="Clear" (click)="form.setValue({'valor':null})">
                                    <mat-icon>close</mat-icon>
                                  </button>
                            </mat-form-field>
                        </div>
                    </form>
                </div>

                <div class="cont-form" *ngIf="data.idTipoChat===2">
                    <form [formGroup]="formTwo">
                        <div class="cont-field">
                            <mat-form-field appearance="legacy">
                                <mat-label>Ingrese un número de DNI</mat-label>
                                <input matInput placeholder="EX. 11111111" type="number" class="example-right-align" formControlName="dni">
                                <button *ngIf="this.formTwo.value.dni" matSuffix mat-icon-button aria-label="Clear" (click)="formTwo.setValue({'dni':null})">
                                    <mat-icon>close</mat-icon>
                                  </button>
                            </mat-form-field>
                        </div>
                    </form>
                    
                </div>
                
                <div class="cont-btn">
                    <button mat-flat-button color="primary" *ngIf="data.idTipoChat===3" (click)="buscarAmigo()" [disabled]="form.invalid || disabledFirstTab">
                        <i class="fa-regular fa-circle-check"></i>
                    </button>
                    <button mat-flat-button color="primary" *ngIf="data.idTipoChat===2" (click)="buscarAmigo()" [disabled]="formTwo.invalid || this.formTwo.value.dni==null">
                        <i class="fa-regular fa-circle-check"></i>
                    </button>
                </div>
            </div>


            <div class="cont-field-tool">

                <mat-toolbar *ngFor="let a of listaAgregar; let i = index">
                    <div class="cont-info">
                        <span>{{a.username}}</span>
                        <span>dni:{{a.dni}}</span>
                    </div>

                    <span class="example-spacer"></span>
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
                        color="warn" (click)="removerAmigo(i)">
                        <i class="fa-regular fa-circle-xmark"></i>
                    </button>
                </mat-toolbar>


            </div>
            <div class="secondTab" style="margin-top: 10px;" *ngIf="data.idTipoChat===2">
                <div class="cont-btn">
                    <button mat-flat-button color="primary" (click)="crearChat()">
                        <i class="fa-regular fa-circle-check"></i>
                    </button>
                    <button mat-flat-button color="primary">
                        <i class="fa-regular fa-circle-xmark"></i>
                    </button>
                </div>
            </div>

        </mat-tab>

        <!-- segundo: para confirmar y poner un nombre -->
        <mat-tab label="Ultimo paso" id="secondTab" *ngIf="data.idTipoChat!==2" [disabled]="listaAgregar.length==0 || disabledSecondTab">
            <div class="secondTab">
                <div class="cont-form">
                    <form [formGroup]="formThree" #FormThree="ngForm">
                        <div class="cont-field">
                            <mat-form-field appearance="legacy">
                                <mat-label>Escriba el nombre del chat grupal</mat-label>
                                <input matInput placeholder="EX. 41111111" formControlName="nombreChat">
                            </mat-form-field>
                        </div>
                    </form>

                </div>

                <div class="cont-btn">
                    <button mat-flat-button color="primary" (click)="crearChat()">
                        <i class="fa-regular fa-circle-check"></i>
                    </button>
                    <button mat-flat-button color="primary">
                        <i class="fa-regular fa-circle-xmark"></i>
                    </button>
                </div>

            </div>

        </mat-tab>
    </mat-tab-group>

</div>