<section class="body">
    <!-- <div class="img-movimiento">
        <img src="../../../assets/statusHttp/Security_Outline.png" alt="">
    </div> -->
    <div class="conteiner">
        <div class="img-back" data-aos="zoom-out-right" data-aos-duration="800">
            <!-- <img src="../../../assets/statusHttp/forbidden403.png" alt=""> -->
        </div>
        <div class="cont-text">
            <div class="cont-tittle"  data-aos="fade-left"  data-aos-duration="1200">
                <h1 class="tittle">Uuups... 401! <span class="util"></span></h1>
            </div>
            <div class="cont-sub-tittle" data-aos="fade-right" data-aos-duration="1200">
                <h4 class="sub-tittle">Lo sentimos, pero al parecer careces de credenciales, le recomendamos iniciar sessión.</h4>
            </div>
            <div class="cont-btn">
                <button mat-raised-button  class="btn font" color="accent" (click)="navegar()">Ir al login  <mat-icon>login</mat-icon></button>
            </div>
                
        </div> 
        <!-- 
        <div style="height: 150px; overflow: hidden;" >
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M-1.12,35.07 C204.86,184.08 342.56,-87.29 500.00,49.99 L500.00,150.00 L-0.00,150.00 Z" style="stroke: none; fill: #08f;"></path>
            </svg>
        </div>-->
    </div>
    
</section>
