.example-container {
    width: 100%;
    height: 100%;
}
*{
    outline: none;
}


mat-drawer{
    width: 200px;
    background-color: #661eed;

}

mat-drawer-content {
    height: 100%;
}


i{
    width: 31px;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    color: #687384;
}

ul{
    margin-top: 15px;
    padding: 0;
}

li{
    user-select: none;/*para que el texto no se selecciones*/
    background-color: transparent;
    border: 0px solid rgba(0, 0, 0, 0.368);
    margin-bottom: 5px;
    list-style: none;

}

a{
    color: #fff;
    padding: 15px 35px 15px 18px;
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;

    transition: all .5s ease-out;
    &:hover{
        color: rgb(102, 30, 237);
        background-color: rgb(255, 255, 255);
        
    }
}

span{
    margin-left: 5px;
    
}

.active{
   color: rgb(102, 30, 237);
   background-color: rgb(255, 255, 255);
   transition: all .5s ease-in;
}


.title{
    margin-left: 12px;
}