/* You can add global styles to this file, and also import other style files */

:root{
    --color-warn-mat:#f44336;
    // --color-text-opaco:#7c8793;
    --color-text-opaco:#a5b3c2;
    --color-mor-az-f0:#5800ff;
    --color-mor-az-f1:#220062;
    --color-gris-semiclaro: #242a33;
    --color-gris-oscuro: rgb(25, 29, 35);
    
}
html, body { height: 100%; }
body { margin: 0; font-family:'Ubuntu', Roboto, "Helvetica Neue", sans-serif; }
.font{
    font-family: 'Ubuntu', sans-serif;
}

.example-spacer {
    flex: 1 1 auto;
}

/****para quitar ese slider del input tipo number****/
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}